Middlewares/lvgl/src/font/*.c filter=lfs diff=lfs merge=lfs -text
App/driver/Src/tri_vision_logo_480x272_rgb565.c filter=lfs diff=lfs merge=lfs -text
Drivers/CMSIS/Device/ST/STM32H7xx/Include/stm32h743xx.h filter=lfs diff=lfs merge=lfs -text
